.access_button {
    width: 230px;
    height: 80px;
    border-radius: 20px;
    font-size: 23px;
    background-color: red;
    border: none;
    opacity: 99%;
    cursor:pointer;
}

.settingButton {
    margin: 40px 20px 20px 20px;
}