.headerContainer {
    width: 75vw;
    border: red 9px solid;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white
}