.settingsbuttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.playerInputs {
    display: flex;
    width: 100%;
    justify-content: center;
}

.inputsSection {
    display: flex;
    flex-direction: column;
}
